<div class="p-3 m-0 border-0 bd-example">
  <form [formGroup]="createProduct" (ngSubmit)="datos()">
    <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label"
        >Titulo del Producto</label
      >
      <input
        type="text"
        class="form-control"
        id="formGroupExampleInput"
        placeholder="Titulo"
        formControlName="title"
      />
    </div>

    <div class="mb-3">
      <label for="formGroupExampleInput2" class="form-label">Descripción</label>
      <input
        type="text"
        class="form-control"
        id="formGroupExampleInput2"
        placeholder="Iphone 5 Blanco "
        formControlName="description"
      />
    </div>

    <div class="mb-3">
      <label for="formGroupExampleInput3" class="form-label">Precio</label>
      <input
        type="number"
        class="form-control"
        id="formGroupExampleInput3"
        placeholder="250"
        formControlName="price"
      />
    </div>

    <div class="mb-3">
      <label for="formGroupExampleInput4" class="form-label">Descuento %</label>
      <input
        type="number"
        class="form-control"
        id="formGroupExampleInput4"
        placeholder="10"
        formControlName="discountPercentage"
      />
    </div>

    <div class="mb-3">
      <label for="formGroupExampleInput5" class="form-label"
        >Clasificación
      </label>
      <input
        type="number"
        class="form-control"
        id="formGroupExampleInput5"
        placeholder="3"
        formControlName="rating"
      />
    </div>

    <div class="mb-3">
      <label for="formGroupExampleInput6" class="form-label"
        >Cantidad de Producto
      </label>
      <input
        type="number"
        class="form-control"
        id="formGroupExampleInput6"
        placeholder="5"
        formControlName="stock"
      />
    </div>

    <div class="mb-3">
      <label for="formGroupExampleInput7" class="form-label">Marca</label>
      <input
        type="text"
        class="form-control"
        id="formGroupExampleInput7"
        placeholder="Apple"
        formControlName="brand"
      />
    </div>

    <div class="mb-3">
      <label for="formGroupExampleInput8" class="form-label">Categoria</label>
      <input
        type="text"
        class="form-control"
        id="formGroupExampleInput8"
        placeholder="Telefono"
        formControlName="category"
      />
    </div>
    <div class="mb-3">
      <label for="formGroupExampleInput9" class="form-label">Miniatura</label>
      <input
        type="text"
        class="form-control"
        id="formGroupExampleInput9"
        placeholder="https://www.miniatura.com/jpg"
        formControlName="thumbnail"
      />
    </div>

    <div class="mb-3">
      <label for="formGroupExampleInput10" class="form-label">Imagen</label>
      <input
        type="text"
        class="form-control"
        id="formGroupExampleInput10"
        placeholder="https://www.Imagen.com/jpg"
        formControlName="images"
      />
    </div>

    <div class="d-grid gap-2">
      <button class="btn btn-primary btn-lg" [disabled]="createProduct.invalid">Crear Categoria</button>
    </div>
  </form>
</div>
